# Example for a .env file. You should still create locally .env or rename this file
GIN_MODE=release
GATEWAY_PORT=80

GATEWAY_PORT=8080
GATEWAY_SERVICE_PORT=8080
MEETING_SERVICE_PORT=8081
REQUEST_SERVICE_PORT=8082
USER_SERVICE_PORT=8083
CHAT_SERVICE_PORT=8084

GRPC_MEETING_CLIENT_HOST=meeting
GRPC_MEETING_CLIENT_PORT=50051

DB_MEETING_PORT=4000
DB_MEETING_USER=me
DB_MEETING_PASSWORD=@s.ad

DB_REQUEST_PORT=4001
DB_REQUEST_USER=mo
DB_REQUEST_PASSWORD=JM&*

DB_USER_PORT=4002
DB_USER_USER=mu
DB_USER_PASSWORD=@H67s

DB_CHAT_PORT=4003
DB_CHAT_USER=my
DB_CHAT_PASSWORD=@D*H