.icon-button {
    height: 3vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
}

.icon-button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}