.password-input-container {
    position: relative;
    width: 100%;
}

.password-input-container input {
    width: 85vw;
    height: 4vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.86vw;
    font-weight: 500;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding-left: 1.33vw;
    padding-right: 4vw;
    color: #343434;
}

.password-input-container input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.86vw;
    color: rgba(0, 0, 0, 0.25);
}

.password-input-container input:focus {
    border-color: #90aa6f;
    outline: none;
}

.eye-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.33vw;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.eye-button img {
    width: 4vw;
    height: 2.8vw;
    object-fit: contain;
}