.textarea-wrapper {
    position: relative;
    width: 100%;
}

.textarea-counter {
    width: 85vw;
    height: 9.75vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.86vw;
    font-weight: 500;
    box-sizing: border-box;
    background-color: #FFFFFF;
    resize: none;
    padding: 1.5vh 1.33vw 3vh 6.4vw;
    color: #343434;
}

.textarea-counter::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.86vw;
    color: rgba(0, 0, 0, 0.25);
}

.textarea-counter:focus {
    border-color: #90aa6f;
    outline: none;
}

.char-counter {
    position: absolute;
    bottom: 1.2vh;
    right: 3.2vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.86vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    background: transparent;
}